# EJECUTABLES #
*.bin
*.out
*.
*.[oa]

# COMPRIMIDOS #
*.rar
*.zip

# DATA + DUMP + LOGS #
*.txt
*.log
*.save
*.swp
*.data
*.dat

# BASURA WSL (WINDOWS) #
*.Identifier

# VS/VS CODE #
*.json

# CORE DUMPS#
*.cdump